# Introduction to Pandas
Pandas is python library to analyze and manipulate data. Its widely used in Data Cleaningm Data Visualitation, Etc

## Install Package
openpyxl package is for exporting data frame to another format

In [32]:
pip install pandas openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/hnzbyte/.local/lib/python3.11/site-packages (2.0.1)
Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 634.2 kB/s eta 0:00:00[36m0:00:01[36m0:00:01:01
Requirement already satisfied: python-dateutil>=2.8.2 in /home/hnzbyte/.local/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/hnzbyte/.local/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/hnzbyte/.local/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /home/hnzbyte/.local/lib/python3.11/site-packages (from pandas) (1.24.3)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

## Import pandas library

In [9]:
import pandas as pd

## Read and Make Data Frame from CSV file

In [11]:
df = pd.read_csv("fruit_price.csv")

## Show Dataframe

Dataframe is 2 dimentional array that contain row and column. Its similar like Spreadsheet, SQL table.

In [12]:
df

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Apples,Fresh,1.5193,per pound,0.90,0.2425,pounds,0.4094
1,"Apples, applesauce",Canned,1.0660,per pound,1.00,0.5401,pounds,0.5758
2,"Apples, ready-to-drink",Juice,0.7804,per pint,1.00,8.0000,fluid ounces,0.3902
3,"Apples, frozen concentrate",Juice,0.5853,per pint,1.00,8.0000,fluid ounces,0.2926
4,Apricots,Fresh,2.9665,per pound,0.93,0.3638,pounds,1.1603
...,...,...,...,...,...,...,...,...
57,Raspberries,Fresh,6.6391,per pound,0.96,0.3197,pounds,2.2107
58,Raspberries,Frozen,4.1877,per pound,1.00,0.3307,pounds,1.3849
59,Strawberries,Fresh,2.5800,per pound,0.94,0.3197,pounds,0.8774
60,Strawberries,Frozen,2.8189,per pound,1.00,0.3307,pounds,0.9322
61,Watermelon,Fresh,0.3604,per pound,0.52,0.3307,pounds,0.2292

## Show Column/Series in Dataframe

Series is like traditional array in pandas, but with more powerfull features!

In [14]:
df["Fruit"]

0                         Apples
1             Apples, applesauce
2         Apples, ready-to-drink
3     Apples, frozen concentrate
4                       Apricots
                 ...
57                   Raspberries
58                   Raspberries
59                  Strawberries
60                  Strawberries
61                    Watermelon
Name: Fruit, Length: 62, dtype: object

## Do Something with DataFrame
suppose we wanna know the highest fruit price, we can do this with selecting `RetailPrice` column and use `max()`

In [23]:
df["RetailPrice"].max()

10.5527

show some statistical numeric summary of DataFrame with `describe()`

In [26]:
df.describe()

       RetailPrice      Yield  CupEquivalentSize  CupEquivalentPrice
count    62.000000  62.000000          62.000000           62.000000
mean      2.616050   0.876129           1.704984            0.919740
std       2.068129   0.174979           2.949262            0.491960
min       0.360400   0.460000           0.123200            0.229200
25%       1.155850   0.722500           0.322450            0.579300
50%       1.868400   0.980000           0.363800            0.895250
75%       3.525600   1.000000           0.540100            1.150475
max      10.552700   1.000000           8.000000            3.070000

## See First `n` Column of Pandas DataFrame

In [27]:
df.head(8)

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,Apples,Fresh,1.5193,per pound,0.90,0.2425,pounds,0.4094
1,"Apples, applesauce",Canned,1.0660,per pound,1.00,0.5401,pounds,0.5758
2,"Apples, ready-to-drink",Juice,0.7804,per pint,1.00,8.0000,fluid ounces,0.3902
3,"Apples, frozen concentrate",Juice,0.5853,per pint,1.00,8.0000,fluid ounces,0.2926
4,Apricots,Fresh,2.9665,per pound,0.93,0.3638,pounds,1.1603
5,"Apricots, packed in juice",Canned,1.6905,per pound,1.00,0.5401,pounds,0.9131
6,"Apricots, packed in syrup or water",Canned,2.0600,per pound,0.65,0.4409,pounds,1.3974
7,Apricots,Dried,6.6188,per pound,1.00,0.1433,pounds,0.9485

## See Last `n` Column of Pandas DataFrame

In [28]:
df.tail(4)

,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
58,Raspberries,Frozen,4.1877,per pound,1.00,0.3307,pounds,1.3849
59,Strawberries,Fresh,2.5800,per pound,0.94,0.3197,pounds,0.8774
60,Strawberries,Frozen,2.8189,per pound,1.00,0.3307,pounds,0.9322
61,Watermelon,Fresh,0.3604,per pound,0.52,0.3307,pounds,0.2292

## See data types each column

In [30]:
df.dtypes

Fruit                  object
Form                   object
RetailPrice           float64
RetailPriceUnit        object
Yield                 float64
CupEquivalentSize     float64
CupEquivalentUnit      object
CupEquivalentPrice    float64
dtype: object

## Export Data to Another Format

In [33]:
df.to_excel("fruit_price.xlsx", sheet_name="fruitList")

read from exported excel data

In [34]:
excel_fruit = pd.read_excel("fruit_price.xlsx", sheet_name="fruitList")
excel_fruit.head(3)

,Unnamed: 0,Fruit,Form,RetailPrice,RetailPriceUnit,Yield,CupEquivalentSize,CupEquivalentUnit,CupEquivalentPrice
0,0,Apples,Fresh,1.5193,per pound,0.9,0.2425,pounds,0.4094
1,1,"Apples, applesauce",Canned,1.0660,per pound,1.0,0.5401,pounds,0.5758
2,2,"Apples, ready-to-drink",Juice,0.7804,per pint,1.0,8.0000,fluid ounces,0.3902

## See Technical Summary of Pandas DataFrame

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fruit               62 non-null     object
 1   Form                62 non-null     object
 2   RetailPrice         62 non-null     float64
 3   RetailPriceUnit     62 non-null     object
 4   Yield               62 non-null     float64
 5   CupEquivalentSize   62 non-null     float64
 6   CupEquivalentUnit   62 non-null     object
 7   CupEquivalentPrice  62 non-null     float64
dtypes: float64(4), object(4)
memory usage: 4.0+ KB

### Note
The head/tail/info methods and the dtypes attribute are convenient for a first check.